<div class="bg-light text-center">
    <h1 class="text-danger fs-3 py-1">
        {{title |uppercase}}
    </h1>
    <span class="py-1 text-muted">
        observer la valeur de votre porte feuille d'action
    </span>
</div>
<div class="w-75 m-auto mt-5">
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">ACTION</th>
              <th scope="col">Quantite</th>
              <th scope="col">Unit price (Dollar)</th>
              <th scope="col">
                <select [(ngModel)]='deviseClass' class="form-select"  aria-label="Default select example" >
                  <option *ngFor="let item of (devise)" [ngValue]="item">{{item.name}}</option>
                </select>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of (data)">
                <td>{{ item.id }}</td>
                <td class="text-center">{{ item.name}}</td>
                <td class="text-end">{{ item.quantity }}</td>
                <td class="text-end">{{ item.price_unit }}</td>
                <td class="text-end">{{ item.price_dollar | price: deviseClass.taux }}</td>
            </tr>
          </tbody>
    </table>
</div>

<router-outlet></router-outlet>
